{% extends 'inventario/base.html' %}
{% load static %}


{% block title %} Vista Productos  {% endblock %} 

{% block header %} 
<header>
    <h1>Vista Productos ☆*: .｡. o(≧▽≦)o .｡.:*☆</h1>
</header>
{% endblock %} 
{% block breadcrumb %}
<a class="text-cyan-500" href="/inventario/producto">/inventario/producto</a>
{% endblock %} 
{% block content %}
<section>
    <h2>Productos Disponibles</h2>
    <p>Aqui encontraras las mejores frutas</p>
    <ul class="p-4 bg-gray-300 border">
        {% for producto in object_list %}
        <li class="flex flex-col gap-1 bg-white p-2 border rounded">
            <span>{{producto.nombre}}</span>
            <span>{{producto.descripcion}}</span>
            <span>{{producto.precio}}</span>
            <span>{{producto.stock}}</span>
        </li>
         {% endfor %} 
    </ul>
</section>
  {% endblock %} 
{% block footer %} 
<h1>Hola mundo</h1>

 {% endblock %} 